<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<aside class="sidebar">
    <div class="sidebar-top">
        <a href="/dashboard" title="Dashboard" class="side-link"><i class="fas fa-home"></i></a>
        <a href="/dashboard/edit" title="Editor de notas" class="side-link"><i class="fas fa-pen"></i></a>
        <a href="/dashboard/tarefas" title="Gestão de tarefas" class="side-link"><i class="fas fa-tasks"></i></a>
        <a href="/dashboard/graficos" title="Relatórios analíticos" class="side-link"><i class="fas fa-chart-bar"></i></a>
        <a href="/dashboard/calendario" title="Calendário escolar" class="side-link"><i class="fas fa-calendar-alt"></i></a>
        <% if (userCargo === 'Admin') { %>
            <a href="/dashboard/usuarios" title="Gestão de usuários" class="side-link">
                <i class="fas fa-users"></i>
            </a>
        <% } %>
    </div>
    
    <div class="sidebar-bottom">
        <a href="/dashboard/config" title="Configurações" class="side-link"><i class="fas fa-cog"></i></a>
        <a href="/dashboard/equipe" title="Equipe de desenvolvedores" class="side-link"><i class="fas fa-code"></i></a>
        <a href="javascript:void(0)" title="Sobre o site" class="side-link" onclick="openModal()">
            <i class="fas fa-info-circle"></i>
        </a>
    </div>
</aside>

<div id="infoModal" class="modal-overlay">
    <div class="modal-content">
        <button class="close-btn" onclick="closeModal()">
            <i class="fas fa-times-circle"></i>
        </button>
        <div class="modal-body">
            <img src="/IMG/logo3-white.png" alt="AnalisAI" class="modal-logo">
            <h3 class="version-text">VERSÃO 1.0</h3>
            <p class="copyright-text">© SENAI - Serviço Nacional de Aprendizagem Industrial</p>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const currentPath = window.location.pathname;
    const links = document.querySelectorAll('.side-link');

    links.forEach(link => {
        const linkPath = link.getAttribute('href');
        if (currentPath === linkPath) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
});

function openModal() {
        const modal = document.getElementById('infoModal');
        modal.style.display = 'flex';
    }

    function closeModal() {
        const modal = document.getElementById('infoModal');
        modal.style.display = 'none';
    }

    window.onclick = function(event) {
        const modal = document.getElementById('infoModal');
        if (event.target == modal) {
            closeModal();
        }
    }

</script>